<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    <style>
        .red, .correct{
            height: 200px;
            width: 200px;
            color: white;
            text-align: center;
            vertical-align: middle;
        }
        .red{
            background-color: red;
        }
        .correct{
            background-color: green;
        }
    </style>
</head>
<body>
    <center>
    <h2>Welcome to the Great Number Game!</h2>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess</p>
    <p>{{tries}} attempts</p>
    {% if number | int < guess %}
    {% if number | int != 0%}
    <div class="red">
        <h1>Too low!</h1>
    </div>
    {% endif%}
    <form action="/process" method="post">
        <input type="text" name="number" id="number">
        <input type="submit" value="Submit">
    </form>
    {% elif number | int > guess %}
    {% if number | int != 0%}
    <div class="red">
        <h1>Too high!</h1>
    </div>
    {% endif%}
    <form action="/process" method="post">
        <input type="text" name="number" id="number">
        <input type="submit" value="Submit">
    </form>
    {%else%}
    <div class="correct">
        <h1>{{number}} was the number!</h1>
        <form action="/destroy" method="post">
            <input type="submit" value="Play Again!">
        </form>
    </div>
    {% endif %}
</center>
</body>
</html>