<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground Assignment</title>
    <style>
        .container{
            text-align: center;
        }
        .blue{
            width: 100px;
            height: 100px;
            background-color: aqua;
            display: inline-block;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        <div class="blue"></div>
        <div class="blue"></div>
        <div class="blue"></div>
    </div>
</body>
</html>