<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        .container{
            text-align: center;
        }
        .class{
            /* background-color: aqua; */
            height: 100px;
            width: 100px;
            border: 1px bold black;
            margin: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome !</h1>
        {% for i in range(times)%}
        <div class="class" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>